{
  "mcpServers": {
    "atlassian": {
      "url": "https://mcp.atlassian.com/v1/mcp"
    },
    "glean_default": {
      "url": "https://datadog-be.glean.com/mcp/default"
    },
    "slack": {
      "url": "https://mcp.slack.com/mcp",
      "auth": {
        "CLIENT_ID": "{ADD-SLACK-CLIENT-ID}"
      }
    },
    "github": {
      "command": "uvx",
      "args": ["mcp-github"],
      "env": {
        "GITHUB_TOKEN": "YOUR_GITHUB_PATH"
      }
    }
  }
}
